body {
    color: red;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: aquamarine;
}

.container .list img, .result {
    border: 5px solid rgb(189, 47, 255);
    
}


ul.list, ol.list  {
    display: inline-block;
    text-align: left;
}


.container .list img, .result {
    display: block;
    margin: 0 auto;
}

h2 {
    color: blue;
}

li {
    color: black;
}

